*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
    /* this is the section of banner */
    .logo img{
        width: 15vh;
    }
    
    .headers {
        position: fixed;
        height: 100vh;
        background-color: rgb(71, 70, 70);
        width: 20vw;
    }
    .menus nav ul{
        position: fixed;
        background-color: rgb(245, 197, 197);
        top: 10%;
        left: 0%;
        height: 90vh;
        width: 20vw;
        display: block;
        transform: translateX(-9vw);
        padding-left: 9vw;
        text-align: left;
        transition: all 0.6s ease;
    }
    #click:checked ~ ul{
        width: 29vw;
        text-align: left;
        padding-left: 18vw;
    }
    .li a:hover, ul{
        width: 29vw;
    }
    .menus ul li{
        list-style: none;
    }
    .menus ul li a{
        text-decoration: none;
        color: white;
        padding: 10px 18px;
        margin: 0 5px;
        border-radius: 8px;
    }
    nav ul li a:focus{
        background: rgb(3, 96, 13);
    }
    nav ul li a:hover,
    nav ul li a.active{
        color: aqua;
        background: rgb(3, 96, 13);
    }
  
    .menu-btn i{
        color: white;
        font-size: 23px;
        cursor: pointer;
        display: block;
    }
    #click{
        display: none;
    }
  
    @media (max-width: 850px) {
        nav .menu-btn i{
            display: block;
            padding-right: 56px;
        }
        .logo img {
            height: 10vh;
            width: 10vh;
            border-radius: 47px;
        }
        #click:checked ~ .menu-btn i::before{
            content: "\f00d";
        }
        .menus nav ul{
            position: fixed;
            background-color: #4c4a4a;
            top: -130vh;
            left: 0%;
            height: 67vh;
            width: 100%;
            display: block;
            text-align: center;
            transition: all 0.6s ease;
        }
        nav ul li{
            margin: 3vh 0;
        }
        nav ul li a{
            font-size: 3vmin;
        }
        nav ul li a:focus{
            background: none;
        }
        nav ul li a:hover,
        nav ul li a.active{
            color: aqua;
            background: none;
        }
        #click:checked ~ ul{
            top: 15vh;
        }
        .menus ul li a {
            text-decoration: none;
            color: white;
            padding: 0 15px;
            margin: 0 5px;
            border-radius: 8px;
        }
        
        
    }
        /* end of banner section */
