
.btn-sec{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2vh;
}
.btn-sec a:hover{
    color: white;
    text-decoration: none;
    background-color: rgb(8, 8, 88);
}
.car-image{
    height: 40vh;
}
.car-image img{
    max-width: 100%;
    height: auto;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
.car-image img:hover{
    transform: scale(1.1);
}

/* this is Mobile Size */
@media (max-width: 990px){
.car-bb {
    height: 8vh;
    cursor: pointer;
    width: 28vw;
    text-align: center;
    display: flex;
    background-color: #1089ff;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    border-radius: 7px;
}
.car-dd {
    height: 8vh;
    cursor: pointer;
    border-radius: 7px;
    width: 28vw;
    text-align: center;
    display: flex;
    background-color: #01d28e;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
}
}


/* this is for large and medium screen */
@media (min-width: 990px){
    #car-cards{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
        width: 24vw;
    }
    .car-bb{
        height: 7vh;
        cursor: pointer;
        width: 8vw;
        border-radius: 7px;
        text-align: center;
        display: flex;
        background-color: #1089ff;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: white;
    }
    .car-dd{
        height: 7vh;
        cursor: pointer;
        width: 8vw;
        border-radius: 7px;
        text-align: center;
        display: flex;
        background-color: #01d28e;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 22px;
    }
    
}

